*{
   background-color: rgb(196, 175, 109);    
}
.name{
    margin-left: -100px;
}
span{
    font-weight: 400;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}
input{
    border-radius: 25px;
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
    color: brown;
}
input::placeholder{
    font-size: 15px;
    font-weight: 300;
    color: darkblue;
    text-indent: 10px;
    font-style: italic;
    font-weight: bolder;
}